*
!/**/

# Github files
!/.gitignore
!/.travis.yml
!/.editorconfig
!/CODE_OF_CONDUCT.md
!/LICENSE
!/README.md

# Code
!/mix.exs
!/mix.lock
!/.formatter.exs
!/config/**/*.exs
!/apps/**/*.ex
!/apps/**/*.exs
!/apps/**/README.md
!/lib/**/*.ex
!/lib/**/*.exs

# Additionals files
!/.deliver/config
!/.rel/*.eex
!/rel/*
!/.deploy/*
